/*--------------------------------------------------------------
** All Variable
----------------------------------------------------------------*/
:root {
  --accent-color: #573cff;
  --heading-color: #002935;
  --body-color: #747474;

  --bg-primary: #f8f9fa;
  --rating-color: #ffc107;
  --white-color: #fff;
  --black-color: #000;
  --heading-font: "Jost", sans-serif;
}

.cs_version_2{
  --accent-color: #007A70;
}


// --body-font: "Roboto", sans-serif;

// --accent-color-rgb: rgba(87, 60, 255, 1);
// --accent-color-op16: rgba(87, 60, 255, 0.16);

// --heading-color-rgb: rgba(0, 41, 53, 1);
// --heading-color-op10: rgba(0, 41, 53, 0.1);
// --heading-color-op60: rgba(0, 41, 53, 0.6);
// --heading-color-op65: rgba(0, 41, 53, 0.65);

// --body-color-rgb: rgba(116, 116, 116, 1);
// --body-color-op15: rgba(116, 116, 116, 0.15);
// --body-color-op50: rgba(116, 116, 116, 0.5);

// --bg-color-rgb: rgba(248, 249, 250, 1);

// --rating-color-rgba: rgba(255, 193, 7, 1);

// --white-color-rgb: rgba(255, 255, 255, 1);

// --black-color-rgb: rgba(0, 0, 0, 1);
