/*=======================================================
  About Style 1
=========================================================*/
.cs_about_style_1,
.cs_about_style_2 {
  .cs_about_image {
    gap: 0px 27px;
    margin-left: -20px;
    @media (max-width: 1199px) {
      margin-left: 0;
    }
    @media (max-width: 450px) {
      flex-wrap: wrap;
      gap: 24px 0;
    }
    .cs_about_image_left {
      width: min(307px, 100%);
      height: auto;
      object-fit: cover;
      img {
        width: 100%;
        border-radius: 2px;
      }
      @media (max-width: 1199px) {
        width: 100%;
      }
    }
    .cs_about_image_right {
      width: min(291px, 100%);
      height: auto;
      object-fit: cover;
      .cs_about_image_right_thumbnail {
        img {
          width: 100%;
          border-radius: 2px;
        }
      }
      @media (max-width: 1199px) {
        width: 100%;
      }
    }
    .cs_about_customer {
      padding: 17px 39px;
      gap: 15px;
      box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.1);
      @media (max-width: 767px) {
        padding: 17px 15px;
      }
      @media (max-width: 450px) {
        margin-bottom: 24px;
      }
    }
  }
  .cs_about_content {
    .cs_minititle {
      text-transform: uppercase;
    }
    .cs_title {
      line-height: 1.2222em;
    }
    .cs_details {
      line-height: 1.625em;
    }
    .cs_iconbox {
      gap: 36px;
      @media (max-width: 480px) {
        flex-direction: column;
        gap: 24px 0;
      }
    }
    .cs_iconbox_1,
    .cs_iconbox_2 {
      gap: 0px 15px;
      width: min(207px, 100%);
    }
    .cs_iconbox_icon {
      height: 55px;
      width: 55px;
    }
    .cs_iconbox_text {
      line-height: 1.5555em;
    }
  }
  .cs_btn_style_1 {
    &:hover {
      border-color: var(--accent-color);
    }
  }
}
/*=======================================================
  About Style 2
=========================================================*/
.cs_about_style_2,
.cs_about_style_3 {
  .cs_about_image {
    margin-left: auto;
    width: min(605px, 100%);
    img {
      width: 100%;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .cs_about_image_overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 41, 53, 0.2);
  }
  .cs_about_image_arrow_shape {
    position: absolute;
    right: -25%;
    top: 3%;
    img {
      width: 100%;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }
  .cs_team_wrapper {
    gap: 0px 24px;
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 20px;
    // width: min(369px, 100%);
    position: absolute;
    bottom: 5%;
    right: 6%;
    z-index: 1;
    @media (max-width: 575px) {
      gap: 0 15px;
      padding: 15px;
      right: 3%;
      bottom: 3%;
    }
  }
  .cs_team_info {
    @media (max-width: 575px) {
      .cs_fs_24 {
        font-size: 18px;
      }
      .cs_fs_18 {
        font-size: 14px;
      }
    }
  }
  .cs_team_avatar {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -21px;
    &:first-child {
      margin-left: 0;
      background-color: transparent;
    }
    img {
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      border-radius: inherit;
    }
  }
  .cs_about_content {
    width: min(571px, 100%);
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .cs_title {
    &.cs_fs_48 {
      line-height: 1.1458em;
    }
  }
  .cs_about_list_wrapper {
    width: min(365px, 100%);
    .cs_about_list:not(:last-child) {
      margin-bottom: 15px;
    }
    .cs_list_title {
      padding: 1px 0;
    }
  }
}
/*=======================================================
  About Style 3
=========================================================*/
.cs_about_style_3 {
  .cs_about_image {
    margin-left: initial;
    width: min(529px, 100%);
  }
  .cs_about_image_arrow_shape {
    right: -30%;
    top: 1%;
  }
  .cs_about_image_wave_shape {
    position: absolute;
    bottom: 0;
    right: 21px;
    img {
      width: 100%;
    }
  }

  .cs_about_content {
    width: 100%;
  }
  .cs_about_sign {
    width: min(151px, 100%);
    img {
      width: 100%;
    }
  }
}
