/*=======================================================
    Course Category Style 1
=========================================================*/
.cs_course_category_style_1_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 30px;
  margin-left: -13px;
  margin-right: -13px;
  @media (max-width: 1199px) {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  .cs_course_category_style_1 {
    position: relative;
    padding: 52px 20px 55px;
    background-color: var(--white-color);
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.1);
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -9999;
      border: 2px solid rgba(0, 41, 53, 0.1);
      transform: rotate(4.703deg) translateZ(0);
      transition: all 0.4s ease;
    }
    &:hover::before {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
    }
    &:hover {
      .cs_course_category_thumbnail {
        img {
          transition: all 0.4s ease;
          filter: brightness(0) saturate(100%) invert(39%) sepia(81%)
            saturate(7498%) hue-rotate(245deg) brightness(100%) contrast(105%);
        }
      }
    }
  }

  .cs_course_category_thumbnail {
    margin-bottom: 40px;
    img {
      height: 75px;
      width: 75px;
      object-fit: cover;
      overflow: hidden;
      transition: all 0.4s ease;
      filter: brightness(0) saturate(100%) invert(11%) sepia(59%)
        saturate(1356%) hue-rotate(158deg) brightness(99%) contrast(104%);
    }
  }
  .cs_course_category_info {
    margin-top: auto;
    text-align: center;
    a {
      transition: all 0.4s ease;
    }
  }
  .cs_course_counter {
    gap: 0px 10px;
  }
}

/*=======================================================
    Course Category Style 2
=========================================================*/
.cs_course_category_style_2 {
  .cs_course_category_thumbnail {
    border-radius: 3px;
  }
  .cs_thumb_overlay {
    inset: 0;
    background: linear-gradient(360deg, #002935 0%, rgba(0, 41, 53, 0) 100%);
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
  .cs_course_category_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 12px;
    @media (max-width: 575px) {
      padding: 12px;
      align-items: flex-start;
      text-align: left !important;
      .cs_fs_24 {
        font-size: 18px;
      }
      .cs_fs_18 {
        font-size: 14px;
      }
    }
  }
  .cs_course_counter {
    gap: 0px 10px;
  }
}

/*=======================================================
  Course Category Tab 
=========================================================*/
.cs_course_category_wrapper_1 {
  gap: 20px 40px;
  flex-wrap: wrap;
  justify-content: flex-end;
  @media (max-width: 1399px) {
    gap: 10px 24px;
  }
  @media (max-width: 991px) {
    justify-content: flex-start;
  }
  .cs_course_category {
    text-wrap: nowrap;
  }
}
.cs_course_category_wrapper_2 {
  @media (max-width: 991px) {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .cs_course_category {
    a {
      display: block;
      padding: 6px 34px 9px;
      transition: all 0.4s ease;
    }
    &:first-child {
      a {
        padding-left: 12px;
      }
    }
    &:last-child {
      a {
        padding-right: 12px;
      }
    }
    &.active,
    &:hover {
      clip-path: polygon(18% 0, 100% 0, 82% 100%, 0 100%);
      background-color: var(--accent-color);
      a {
        color: var(--white-color);
      }
      &:first-child {
        clip-path: polygon(0 0, 100% 0, 76% 100%, 0 100%);
      }
      &:last-child {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      }
    }
    @media (max-width: 991px) {
      a {
        padding-left: 12px;
        padding-right: 12px;
      }
      &.active,
      &:hover {
        clip-path: none !important;
      }
    }
  }
}
/*=======================================================
  Course Card Style 1
=========================================================*/
.cs_course_style_1,
.cs_course_style_2,
.cs_course_style_3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  &:hover {
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.1);
  }
  .cs_course_thumbnail {
    .cs_thumb_overlay {
      height: 100%;
      width: 100%;
      background: rgba(0, 41, 53, 0.1);
      top: 0;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .cs_thumb_meta {
      padding: 20px 15px;
      top: 0;
    }
    .cs_btn_style_1 {
      padding: 2px 15px;
      background-color: var(--white-color);
      color: var(--accent-color);
      border-color: var(--white-color);
      transition: all 0.4s ease;
      &:hover {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        a {
          color: var(--white-color);
        }
      }
    }
    .cs_thumb_shopping {
      color: var(--white-color);
      font-size: 20px;
      line-height: 1em;
      gap: 0px 10px;
      .cs_thumb_wishlist,
      .cs_thumb_cart {
        height: 20px;
        width: 20px;
        padding: 0;
        background-color: transparent;
        outline: none;
        border: none;
        transition: all 0.4s ease;
        i {
          vertical-align: middle;
        }
        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
  .cs_course_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    @media (max-width: 1199px) {
      padding: 15px;
    }
    .cs_course_meta {
      text-wrap: nowrap;
      gap: 0 15px;
      transition: all 0.4s ease;
      i {
        color: var(--accent-color);
      }
    }
    .cs_meta_lesson,
    .cs_meta_time {
      gap: 0px 10px;
      transition: inherit;
      line-height: 1.4375em;
      i {
        font-size: 18px;
        line-height: 1em;
      }
    }
    .cs_course_title {
      line-height: 1.4544em;
    }
    .cs_cource_price {
      margin-top: auto;
    }
    .cs_regular_price,
    .cs_price_devider {
      line-height: 1.45em;
    }
    .cs_discounted_price {
      line-height: 1.611112em;
    }
    hr {
      width: 100%;
      margin: 0 0 18px;
    }
    .cs_course_author {
      gap: 10px;
      @media (max-width: 1199px) {
        flex-wrap: wrap;
      }
    }
    .cs_author_avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      flex: none;
    }
    .cs_author_title {
      display: -webkit-box;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .cs_rating_wrapper {
      transform: scale(0.75);
      transform-origin: right;
      @media (max-width: 1199px) {
        transform: scale(0.9);
        transform-origin: left;
      }
    }
    .cs_rated_number {
      margin-left: 9px;
    }
  }
}
/*=======================================================
    Course Card Style 2
=========================================================*/
.cs_course_style_2 {
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.1);
  .cs_course_thumbnail {
    .cs_thumb_overlay {
      background: rgba(0, 41, 53, 0.2);
    }
    .cs_thumb_shopping {
      top: 0;
      right: 0;
      padding: 20px;
    }
    .cs_thumb_dept {
      left: 20px;
      bottom: -10px;
      background-color: var(--heading-color);
      border-color: var(--heading-color);
      color: var(--white-color);
    }
  }
  .cs_course_info {
    padding-top: 33px;
    padding-bottom: 16px;
    background-color: var(--white-color);
    hr {
      margin-bottom: 12px;
    }
    .cs_course_author {
      margin-top: auto;
      margin-bottom: 26px;
    }
    .cs_cource_price {
      margin-top: 0;
    }
    .cs_price_cart {
      gap: 0px 10px;
      padding: 0;
      border: none;
      outline: none;
      background-color: transparent;
      i {
        color: var(--accent-color);
      }
    }
  }
}
/*=======================================================
    Course Card Style 3
=========================================================*/
.cs_course_section_3 {
  @media (min-width: 992px) {
    .col-lg-6 {
      &:is(:nth-child(4n + 3), :nth-child(4n + 4)) {
        .cs_course_thumbnail {
          order: 2;
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 991px) {
    .col-lg-6 {
      &:nth-child(even) {
        .cs_course_thumbnail {
          order: 2;
        }
      }
    }
  }
}

.cs_course_style_3 {
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  .cs_course_thumbnail {
    img {
      border-radius: 3px 0 0 3px;
    }
    .cs_thumb_dept {
      left: 0;
      top: 0;
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      color: var(--white-color);
    }
  }
}
@media (min-width: 575px) {
  .cs_course_style_3 {
    flex-direction: row;
    .cs_course_thumbnail {
      width: 37.58%;
      img {
        border-radius: 3px 0 0 3px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .cs_thumb_dept {
        left: 0;
        top: 0;
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--white-color);
      }
    }
    .cs_course_info {
      padding-top: 29px;
      padding-bottom: 28px;
      background-color: var(--white-color);
      border-radius: 0 3px 3px 0;
      hr {
        margin-bottom: 20px;
      }
      .cs_course_author {
        margin-top: auto;
        margin-bottom: 0;
      }
      .cs_price_cart {
        gap: 0px 10px;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        i {
          color: var(--accent-color);
        }
      }
    }
  }
}

/*=======================================================
    Course Page
=========================================================*/
.cs_course_section_4 {
  .cs_filter_style_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .cs_heading_column_1 {
    .cs_course_category_wrapper_1 {
      gap: 20px 45px;
      @media (max-width: 767px) {
        gap: 20px 40px;
      }
    }
    .cs_course_category {
      &.active {
        color: var(--accent-color);
      }
    }
  }

  .cs_select_wrapper {
    position: relative;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    gap: 27px;
    .cs_course_category {
      border: none;
      outline: none;
      padding: 11px 45px 10px 0;
      font-weight: 400;
      color: var(--body-color);
      appearance: none;
      cursor: pointer;
    }
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
      pointer-events: none;
      color: var(--accent-color);
      font-size: 12px;
    }
    // @media (max-width: 1399px) {
    //   display: none;
    // }
  }

  // Sidebar
  .cs_sidebar.cs_style_1 {
    padding: 25px 16px 25px 15px;
    border: 1px solid #ddd;
    .cs_sidebar_widget {
      hr {
        color: #ddd;
        margin-bottom: 15px;
      }
      &:not(:last-child) {
        padding-bottom: 15px;
      }
      &:not(:first-child) {
        padding-top: 15px;
      }
    }
    li {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      label {
        margin-bottom: 0;
      }
    }
    .cs_sidebar_widget_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.4s ease;
      .cs_iconbox {
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--accent-color);
        border-radius: 50%;
        color: var(--accent-color);
      }
      i {
        font-size: 11px;
        transition: all 0.3s ease-in-out;
      }
      &.active {
        // margin-bottom: 0;
        i {
          transform: rotatex(180deg);
        }
      }
    }

    .cs_sidebar_widget_content {
      .cs_sidebar_widget {
        .cs_sidebar_widget_title {
          &.cs_fs_16 {
            line-height: 1.4375em;
          }
          .cs_iconbox {
            height: 23px;
            width: 23px;
            border: none;
            color: var(--body-color);
          }
          &.active {
            i {
              transform: rotate(180deg);
            }
          }
        }
        .cs_sidebar_widget_content {
          display: none;
        }
      }
    }
  }
  // Components
  .cs_custom_checkbox {
    display: inline-block;
    position: relative;
    min-height: 24px;
    input {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 2;
      cursor: pointer;
      opacity: 0;

      &:checked {
        + label {
          &::before {
            background-color: var(--accent-color);
            border-color: var(--accent-color);
          }
          &::after {
            border-color: var(--accent-color);
            opacity: 1;
          }
        }
      }
    }

    > label {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 0;
      transition: all 0.3s ease;
      &::before,
      &::after {
        position: absolute;
        transition: all 0.3s ease;
        height: 20px;
        width: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        content: "";
        border: 1px solid #ddd;
      }
      &::after {
        content: "\f00c";
        font-family: "Font Awesome 7 Free";
        font-weight: 900;
        font-size: 10px;
        color: var(--white-color);
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
      }

      .cs_star_ixonbox {
        color: var(--rating-color);
        padding-right: 5px;
      }
    }
  }
}
/*=======================================================
    Course Detail Page
=========================================================*/
.cs_course_sidebar_style_1 {
  // background-color: rebeccapurple;
  .cs_sidebar_thumbnail {
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }
  .cs_sidebar_thumb_overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 41, 53, 0.1);
  }
  .cs_sidebar_info {
    padding: 30px 23px 57px;
    //  @media (max-width: 575px) {
    //   padding: 20px;
    // }
  }
  .cs_sidebar_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cs_item_name {
      display: flex;
      align-items: center;
      gap: 0 15px;
      .cs_item_icon {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: brightness(0) saturate(100%) invert(45%) sepia(100%)
          saturate(6402%) hue-rotate(243deg) brightness(97%) contrast(108%);
        img {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    &:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }
    &:not(:first-child) {
      padding-top: 20px;
    }
  }
  .cs_purchase_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .cs_btn_style_1 {
      border-radius: 2px;
      width: min(300px, 100%);
    }
    .cs_custom_btn {
      background-color: #f6f4ff;
      color: var(--heading-color);
      transition: all 0.4s ease;
      &:hover {
        background-color: var(--accent-color);
        color: var(--white-color);
      }
    }
    button {
      outline: none;
      line-height: 1.1818em;
    }
  }
  .cs_share {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .cs_share_title {
      line-height: 1.1818em;
    }
    .cs_social_btns {
      margin-top: 0;
      gap: 25px;
      a {
        height: 26px;
        width: 26px;
      }
    }
  }
}

.cs_course_details_style_1 {
}
