/*=======================================================
  Hero Homepage 1
=========================================================*/
.cs_hero_style_1,
.cs_hero_style_3 {
  padding-top: 350px;
  padding-bottom: 280px;
  @media (max-width: 991px) {
    padding-top: 250px;
    padding-bottom: 200px;
  }
  .cs_hero_overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 41, 53, 0.45);
  }
  .cs_hero_minititle,
  .cs_hero_title,
  .cs_hero_details,
  .cs_meta {
    position: relative;
  }
  .cs_hero_title {
    width: min(100%, 800px);
  }
  .cs_hero_minititle,
  .cs_hero_details {
    width: min(100%, 600px);
  }
  .cs_meta {
    gap: 25px;
    @media (max-width: 575px) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
  .cs_google_rating {
    gap: 0px 13px;
    i {
      font-size: 60px;
      line-height: 1em;
    }
  }

  .cs_hero_bottom_shape {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.cs_hero_section_1 {
  .cs_slider_arrows.cs_style_1 {
    position: absolute;
    bottom: 73px;
    right: 71px;
    @media (max-width: 1440px) {
      bottom: 50px;
    }
    @media (max-width: 1199px) {
      bottom: 35px;
    }
    @media (max-width: 991px) {
      bottom: 20px;
    }
    @media (max-width: 576px) {
      bottom: -15px;
      right: 20px;
    }
    .slick-arrow {
      height: 95px;
      width: 95px;
      border: 2px solid var(--accent-color);
      background-color: transparent;
      i {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        transition: all 0.4s ease;
        font-size: 25px;
        line-height: 1em;
        flex: none;
      }
      &:hover i {
        background-color: var(--white-color);
        color: var(--accent-color);
      }
    }
  }
}
/*=======================================================
  Hero Homepage 2
=========================================================*/
.cs_hero_style_2 {
  margin-top: 202px;
  padding: 64px 0 0;
  @media (max-width: 1199px) {
    margin-top: 80px;
  }
  .cs_hero_text {
    .cs_hero_title {
      line-height: 1.3125em;
    }
    .cs_hero_details {
      line-height: 1.5555;
    }
    .cs_meta {
      gap: 0px 20px;
      align-items: center;
      @media (max-width: 1199px) {
        gap: 0 15px;
      }
      @media (max-width: 480px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 24px;
      }
      .cs_btn_style_1 {
        font-weight: 600;
        padding: 16px 27px;
        @media (max-width: 1199px) {
          padding: 16px 25px;
        }
      }
      .cs_client_wrapper {
        gap: 0px 22px;
        @media (max-width: 1199px) {
          gap: 0 15px;
        }
      }
      .cs_clients {
        .cs_clients_avatar {
          height: 57px;
          width: 57px;
          border-radius: 50%;
          background-color: var(--white-color);
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-left: -21px;
          &:first-child {
            margin-left: 0;
            background-color: transparent;
          }
        }
        img {
          height: calc(100% - 2px);
          width: calc(100% - 2px);
          border-radius: inherit;
        }
      }
    }
  }
  .cs_hero_image {
    padding-left: 34px;
    z-index: 1;
    @media (max-width: 991px) {
      padding-left: 0;
    }
    @media (max-width: 575px) {
      .cs_dot_shape,
      .cs_wave_shape,
      .cs_arrow_shape {
        display: none;
      }
    }

    .cs_dot_shape {
      z-index: -1;
      left: 0;
      top: 51%;
      @media (max-width: 1199px) {
        top: 48%;
      }
      @media (max-width: 991px) {
        top: 49%;
      }
    }
    .cs_wave_shape {
      z-index: -1;
      bottom: 41px;
      left: 59%;
      @media (max-width: 1199px) {
        bottom: 20px;
        left: 60%;
      }
      @media (max-width: 991px) {
        bottom: 41px;
        left: 57%;
      }
      @media (max-width: 767px) {
        bottom: 20px;
      }
    }
    .cs_arrow_shape {
      z-index: -1;
      right: -15px;
      top: -27px;
      @media (max-width: 1199px) {
        right: -45px;
        top: -45px;
      }
      @media (max-width: 991px) {
        right: 0;
        top: 0;
      }
      @media (max-width: 767px) {
        right: -15px;
        top: -27px;
      }
    }
  }
  .cs_hero_feature {
    position: relative;
    z-index: 1;
    .cs_hero_iconbox {
      gap: 20px;
      padding: 44px 36px;
      box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.1);
      height: 100%;
      display: flex;
      @media (max-width: 1199px) {
        padding: 32px 24px;
      }
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
      }
      @media (max-width: 767px) {
        flex-direction: row;
        align-items: unset;
      }
      @media (max-width: 479px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .cs_hero_iconbox_icon {
      height: 60px;
      width: 60px;
      flex: none;
    }
    .cs_hero_iconbox_title {
      font-weight: 500;
      line-height: 1.0833;
    }
  }

  .cs_hero_bg_shape {
    left: 0;
    bottom: 0;
  }
}
/*=======================================================
  Hero Homepage 3
=========================================================*/
.cs_hero_style_3 {
  padding-top: 352px;
  padding-bottom: 225px;
  .cs_hero_overlay {
    background-color: rgba(0, 41, 53, 0.65);
  }
  .cs_hero_title {
    width: min(100%, 850px);
    text-align: center;
    @media (max-width: 1199px) {
      width: min(100%, 720px);
    }
  }
  .cs_hero_minititle,
  .cs_hero_details {
    width: min(100%, 600px);
    text-align: center;
  }
  @media (max-width: 991px) {
    padding-top: 150px;
  }
}
.cs_hero_section_3 {
  .cs_slider_arrows.cs_style_1 {
    .cs_left_arrow,
    .cs_right_arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .cs_left_arrow {
      left: 3.2%;
    }
    .cs_right_arrow {
      right: 3.2%;
    }
    .slick-arrow {
      height: 95px;
      width: 95px;
      border: 2px solid var(--accent-color);
      background-color: transparent;
      i {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        transition: all 0.4s ease;
        font-size: 25px;
        line-height: 1em;
        flex: none;
      }
      &:hover i {
        background-color: var(--white-color);
        color: var(--accent-color);
      }
    }
    @media (max-width: 991px) {
      position: absolute;
      bottom: 80px;
      justify-content: center;
      width: 100%;
      .cs_left_arrow,
      .cs_right_arrow {
        position: initial;
        top: initial;
        transform: translateY(0);
      }
    }
  }
}
/*=======================================================
  Page Header Style 1
=========================================================*/
.cs_page_header_style_1 {
  margin-top: 128px;
  .cs_page_header_overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 41, 53, 0.65);
  }
  .cs_heading_style_3 {
    padding: 165px 0;
    position: relative;
    z-index: 1;
  }
  .cs_breadcrumb_style_1 {
    padding: 14px 31px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    right: 0;
    width: min(100%, 495px);
    z-index: 1;
  }
}

// Bootstrap Breadcrumb Override
.breadcrumb-item {
  color: var(--white-color);
  &:hover a {
    color: var(--heading-color);
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--white-color);
  // content: var(--bs-breadcrumb-divider, ">");
}
.breadcrumb-item.active {
  color: var(--white-color);
}
