/*===============================================
 Pricing Controller
 ================================================*/
.cs_pricing_control {
  list-style: none;
  font-size: 16px;
  line-height: 1.6em;
  li {
    display: flex;
    align-items: center;
    position: relative;
    a[href="#yearly"]::before {
      left: initial;
      right: calc(100% + 15px);
      border-radius: 0 25px 25px 0;
    }
    // a:hover {
    //   color: var(--accent-color);
    // }
    &.active {
      > a {
        color: var(--accent-color);
      }
      a {
        pointer-events: none;
      }
      .cs_switch {
        &::before {
          left: 0px;
        }
      }
    }
  }

  .cs_switch {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 134px;
    border-radius: 9999px;
    margin: 0 15px;
    &::before {
      content: "";
      height: 50px;
      width: 78px;
      border-radius: 9999px;
      background-color: var(--accent-color);
      position: absolute;
      top: 50%;
      left: 56px;
      transform: translateY(-50%);
      transition: all 0.4s ease;
    }
  }

  a {
    position: relative;
    &::before {
      content: "";
      height: 50px;
      width: 67px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 15px);
      z-index: 1;
      border-radius: 25px 0 0 25px;
    }
  }
}
/*===============================================
 Pricing Card
 ================================================*/
.cs_pricing_table_wrapper {
  padding: 0 25px 30px;
  height: 100%;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);

  .cs_pricing_table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  //
  .cs_pricing_plan_wrapper {
    background-color: var(--heading-color);
    border-radius: 3px 3px 0 0;
    margin-left: -25px;
    margin-right: -25px;
    padding: 13px 25px 12px;
    gap: 15px;
  }
  .cs_pricing_plan {
    color: var(--white-color);
    line-height: 1.457;
  }
  .cs_pricing_badge {
    line-height: 1.333;
    &:hover {
      background-color: var(--accent-color);
    }
  }

  //
  .cs_pricing_value {
    position: relative;
    .cs_value_option {
      color: var(--heading-color);
      line-height: 1.45em;
    }
    .cs_pricing_option {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 7px;
    }
  }

  //
  .cs_pricing_list {
    li {
      line-height: 1.437;
      margin-bottom: 16px;
      position: relative;
      padding-left: 33px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .cs_pricing_icon {
    color: var(--accent-color);
    font-size: 18px;
    line-height: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
  }

  .cs_pricing_btn {
    margin-top: auto;
    .cs_btn_style_1 {
      background-color: var(--heading-color);
      border-color: var(--heading-color);
      width: 100%;
      margin-top: auto;
      padding: 11px 24px;
      line-height: 1.454em;
      transition: all 0.4s ease;
    }
    .cs_btn_arrow {
      font-size: 20px;
      line-height: 1em;
      margin-left: 10px;
      transform: rotate(315deg);
    }
    &:hover .cs_btn_style_1 {
      border-color: var(--accent-color);
      background-color: var(--accent-color);
      color: var(--white-color);
    }
  }

  // @media (max-width: 1399px) {
  //   padding: 40px 20px;
  //   // .cs_pricing_description {
  //   //   margin: 0 -20px;
  //   // }
  // }
}
