/*=======================================================
  Tab Function
=========================================================*/
.cs_tab_body {
  position: relative;
  .cs_tab {
    display: none;
    &.active {
      display: block;
    }
  }
}
//
