/*=======================================================
  Team
=========================================================*/
.cs_team_style_1,
.cs_team_style_3 {
  .cs_team_thumb {
    position: relative;
    border-radius: 3px;
  }
  .cs_team_thumb_img {
    img {
      width: 100%;
      border-radius: 3px;
    }
  }
  .cs_team_thumb_badge {
    position: absolute;
    top: 0;
    right: 0;
  }
  .cs_team_thumb_rating {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px 8px 0px;
    display: inline-flex;
    background-color: rgba(0, 41, 53, 0.65);
    .cs_rating_wrapper {
      transform: scale(0.75);
      // transform-origin: right;
    }
    .cs_number {
      line-height: 1.43em;
    }
  }
  .cs_team_info {
    padding: 20px;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  .cs_team_milestones {
    gap: 10px;
    flex-wrap: wrap;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .cs_team_btn {
    width: 100%;
  }
  .cs_btn_style_1 {
    width: 100%;
    background-color: rgba(87, 60, 255, 0.16);
    border-color: transparent;
    transition: all 0.4s ease;
    color: var(--heading-color);
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      color: var(--white-color);
    }
  }
}
// Team Style 2
.cs_team_style_2 {
  padding: 35px 30px 45px;
  background-color: var(--white-color);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.1);
  // transition: all 0.4s ease;
  // border-bottom: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  position: relative;

  // transition: all 0.3s ease;
  // overflow: hidden;

  // transition: all 0.4s ease;
  &::before {
    content: "";
    position: absolute;
    bottom: -4px; // Align with the border-bottom
    left: 50%;
    width: 0;
    height: 4px;
    background: var(--accent-color);
    transition: all 0.4s ease-in-out;
    transform: translateX(-50%);
  }
  &:hover::before {
    width: 100%;
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 4px;
  //   background: linear-gradient(
  //     90deg,
  //     transparent,
  //     var(--accent-color),
  //     transparent
  //   );
  //   transform: translateX(-100%);
  //   transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  // }

  // &:hover {
  //   transform: translateY(-5px); // Adds a nice "lift"
  //   &::after {
  //     transform: translateX(100%);
  //   }
  // }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0; /* Start from center */
  //   width: 0;
  //   height: 4px;
  //   // transform: scale(0);
  //   // transform-origin: top left ;
  //   background: linear-gradient(90deg, var(--accent-color), #7000ff);
  //   transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  // }
  // &:hover::after {
  //   // transform-origin: top right  ;
  //   // transform: scale(1);
  //   width: 100%;
  //   left: 0;
  // }

  .cs_team_thumb {
    height: 260px;
    width: 260px;
    img {
      border-radius: 50%;
    }
  }
  .cs_team_title {
    line-height: 1.333em;
  }
  .cs_social_btns {
    margin-top: 0;
    a {
      height: 45px;
      width: 45px;
      color: #787878;
      border: 1px solid #d9d9d9;
      background-color: transparent;
      border-radius: 50%;
    }
  }
}
// Team Style 3
.cs_team_style_3 {
  .cs_team_thumb {
    overflow: hidden;
  }
  .cs_team_thumb_img {
    img {
      border-radius: 0;
    }
  }
  .cs_social_links {
    position: absolute;
    bottom: 9%;
    left: 0;
    display: flex;
    align-items: center;
    transform: translateX(calc(-100% + 77px));
    transition: all 0.4s ease;
    &.active {
      transform: translateX(0);
      .cs_social_btns {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .cs_social_btns {
    gap: 0;
    background-color: var(--accent-color);
    padding-right: 63px;
    border-radius: 0 50px 50px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    a {
      background-color: transparent;
      color: var(--white-color);
      height: 40px;
      width: 37px;
    }
  }

  .cs_social_toggle {
    height: 49px;
    width: 49px;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 50%;
    border: 2px solid var(--white-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .cs_team_info {
    padding: 19px 30px 18px;
    border-radius: 0 0 5px 5px;
    background-color: var(--white-color);
    box-shadow: 2px 3px 50px 0 rgba(188, 188, 188, 0.25);
  }
}
