/*=======================================================
  Work
=========================================================*/
.cs_work_section_1 {
  .cs_heading_style_2 {
    @media (max-width: 575px) {
      .cs_fs_48 {
        font-size: 38px;
      }
    }
  }
}
.cs_work_style_1 {
  padding-top: 41px;
  .cs_work_thumbnail_wrapper {
    padding-left: 36px;
    @media (max-width: 991px) {
      padding-left: 0;
    }
  }
  .cs_work_thumbnail {
    margin-left: 41px;
    padding: 15px;
    border: 1px dashed var(--accent-color);
    border-radius: 5px;
    height: 200px;
    width: 200px;
    transform: rotate(-45deg);
    overflow: hidden;
    @media (max-width: 991px) {
      margin-left: initial;
    }
  }
  .cs_work_thumbnail_in {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }
  .cs_work_thumb_image {
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    scale: 1.4;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .cs_work_thumb_number {
    height: 80px;
    width: 80px;
    background-color: var(--white-color);
    border-radius: 50%;
    border: 2px dashed var(--accent-color);
    position: absolute;
    top: -20px;
    left: calc(50% + 56px);
    transform: translate(-50%);
    transition: all 0.4s ease;
    @media (max-width: 1399px) {
      left: calc(50% + 86px);
    }
    @media (max-width: 1199px) {
      left: calc(50% + 116px);
    }
    @media (max-width: 991px) {
      left: calc(50% + 86px);
    }
  }
  .cs_work_thumb_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -32px;
    img {
      height: 100%;
      width: 100%;
    }
    @media (max-width: 1399px) {
      width: 90px;
      right: -56px;
    }
    @media (max-width: 1199px) {
      display: none;
    }
  }
  .cs_work_info {
    margin-top: 66px;
    width: min(354px, 100%);
  }
  .cs_work_details {
    line-height: 1.8125em;
  }
  &:hover {
    .cs_work_thumb_number {
      background-color: var(--accent-color);
      border: 2px solid var(--accent-color);
      color: var(--white-color);
    }
  }
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
//
