/*=======================================================
  Work
=========================================================*/
.cs_work_style_1 {
  // background-color: red;
  padding-top: 41px;
  .cs_work_thumbnail {
    margin-left: 41px;

    padding: 15px;
    border: 1px dashed var(--accent-color);
    border-radius: 5px;
    height: 200px;
    width: 200px;
    transform: rotate(-45deg);
  }
  .cs_work_thumb_image {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 180px;
    height: 180px;
    transform: rotate(45deg);
    flex: none;
    border-radius: 5px;
    scale: 1.4;
    img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .cs_work_thumb_overlay {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 41, 53, 0.2);
    border-radius: 5px;
  }
  // .cs_work_thumb_number {
  //   height: 80px;
  //   width: 80px;
  //   background-color: antiquewhite;
  //   border-radius: 50%;
  //   border: 2px dashed var(--accent-color);
  //   position: absolute;
  //   top: 0;
  // }
  // .cs_work_thumb_arrow {
  //   position: absolute;
  //   top: 50%;
  //   transform: translate(-50%);
  //   right: 0;
  //   img {
  //     height: 100%;
  //     width: 100%;
  //   }
  // }
  .cs_work_info {
    margin-top: 66px;
  }
  .cs_work_title {
  }
  .cs_work_details {
    line-height: 1.8125em;
  }
}
// 